# Configurações para o Banco de Dados (Postgres)
POSTGRES_DB=n8n
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=postgres
DB_POSTGRESDB_PORT=5432
POSTGRES_USER=changeUser
POSTGRES_PASSWORD=changePassword
POSTGRES_NON_ROOT_USER=changeUser
POSTGRES_NON_ROOT_PASSWORD=changePassword

# Interface do Banco de Dados
PGADMIN_DEFAULT_EMAIL=fulanie@gmail.com
PGADMIN_DEFAULT_PASSWORD=amarelindo

# TimeZone
GENERIC_TIMEZONE=America/Campo_Grande